:root {
  --quotpa-pink-color: #A53860;
}

.fs-1-6 {
  font-size: 1.6em;
}

.header-intro-dsk-logo a, .header-intro-mob-logo a {
  border-bottom: none;
}

blockquote {
  border-left-color: var(--quotpa-pink-color);
}

.card:nth-child(even) {
  clear: both;
}

.card {
  background: var(--quotpa-pink-color);
}

.card-header h3 a, .card-content p a {
  border-bottom: none;
  line-height: 1;
  font-size: 1em;
}

th, td {
  padding-top: 10px;
  padding-bottom: 10px;
}

.italic {
  font-style: italic;
}

.u-quotes-pink {
  text-decoration-color: var(--quotpa-pink-color);
}

.p-quotes-by {
  display: block;
}

.badgetag-quotes-pink {
  background: var(--quotpa-pink-color);
  color: var(--light-white-color);
}